In [2]:
# import data
# flat file eg . txts, csvs
# files from other software
# relational database

In [8]:
file = 'doc.txt'
fileopen = open(file, mode = 'r') # 'r' read the file 
text = fileopen.read()
print(text)
fileopen.close()

this is to informa about all the event and action,
which are taking place in python progrmming.

In [16]:
file1 = 'doc.txt'
fileopen1 = open(file1, mode = 'w') # 'r' write into file
fileopen1.close()

In [17]:
# context manager with
with open('doc.txt', 'r') as file:
    print(file.read())

In [15]:
# how do you import flat file, with two main packages : numpy and pandas

# importing flat file using numpy

# customizing your numpy import
import numpy as np

deliv = 'deliverable.txt'
data = np.loadtxt(deliv, delimiter=',', skiprows = 1, dtype=str)
print(data)

['1913012\t19101\t50.00\t53.00' '1913013\t19101\t52.00\t51.00'
 '1913021\t19101\t51.00\t48.00' '1913023\t19101\t53.00\t53.00'
 '1913024\t19101\t50.00\t52.00' '1913521\t19101\t30.00\t0.00'
 '1895173\t19101\t48.00\t50.00' '1895169\t19101\t48.00\t53.00'
 '1913040\t19101\t50.00\t53.00' '1913041\t19101\t40.00\t48.00'
 '1913046\t19101\t50.00\t56.00' '1913044\t19101\t45.00\t48.00'
 '1913084\t19101\t56.00\t58.00' '1913048\t19101\t48.00\t56.00'
 '1913052\t19101\t56.00\t58.00' '1913054\t19101\t51.00\t55.00'
 '1913060\t19101\t51.00\t56.00' '1913097\t19101\t52.00\t56.00'
 '1913502\t19101\t48.00\t53.00' '1895119\t19101\t56.00\t60.00'
 '1913069\t19101\t48.00\t53.00' '1913093\t19101\t50.00\t56.00'
 '1913463\t19101\t35.00\t43.00' '1913083\t19101\t58.00\t62.00'
 '1913067\t19101\t40.00\t48.00' '1913088\t19101\t52.00\t58.00'
 '1913503\t19101\t53.00\t56.00' '1913544\t19101\t36.00\t46.00'
 '1913091\t19101\t50.00\t57.00' '1913061\t19101\t58.00\t61.00'
 '1913431\t19101\t30.00\t0.00' '1824345\t19101\t15.00\t35.00'
 '1913479\t19101\t40.00\t45.00']

In [25]:
# importing flat file using pandas

import pandas as pd

world = 'world_ind_pop_data.csv'

data = pd.read_csv(world)

data.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [2]:
# other file types
# Excel spreadsheets, MATLAB files, SAS files, State files, HDF5 files.

import pickle

with open('pickled_fruit.pkl', 'rb') as file:
    data =  pickle.load(file)
    
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'pickled_fruit.pkl'

In [16]:
# importing excel spreadsheets

import pandas as pd
file = 'deliverable.xlsx'
data = pd.ExcelFile(file)
print(data.parse('marks')) # an act or the result obtained by parsing a string or a text

     Std No  Section  D1  D2
0   1913012    19101  50  53
1   1913013    19101  52  51
2   1913021    19101  51  48
3   1913023    19101  53  53
4   1913024    19101  50  52
5   1913521    19101  30   0
6   1895173    19101  48  50
7   1895169    19101  48  53
8   1913040    19101  50  53
9   1913041    19101  40  48
10  1913046    19101  50  56
11  1913044    19101  45  48
12  1913084    19101  56  58
13  1913048    19101  48  56
14  1913052    19101  56  58
15  1913054    19101  51  55
16  1913060    19101  51  56
17  1913097    19101  52  56
18  1913502    19101  48  53
19  1895119    19101  56  60
20  1913069    19101  48  53
21  1913093    19101  50  56
22  1913463    19101  35  43
23  1913083    19101  58  62
24  1913067    19101  40  48
25  1913088    19101  52  58
26  1913503    19101  53  56
27  1913544    19101  36  46
28  1913091    19101  50  57
29  1913061    19101  58  61
30  1913431    19101  30   0
31  1824345    19101  15  35
32  1913479    19101  40  45

In [19]:
# import SAS/stata files using pandas
# SAS : Statistical analysis system
# stata : "Statistics" + "data"

import pandas as pd

from sas7bdat import SAS7BDAT

with SAS7BDAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

ModuleNotFoundError: No module named 'sas7bdat'

In [21]:
import pandas as pd
data = pd.read_stata('salary.dta')
print(data)

        e   t   x     y
0     0.0   1  12  3900
1    44.0   7  10  4020
2     5.0  30  12  4290
3     6.2   7   8  4380
4     7.5   6   8  4380
..    ...  ..  ..   ...
88  215.5  16  15  6600
89   41.5   7  15  6840
90  175.0  10  12  6900
91  132.0  24  15  6900
92   54.5  33  16  8100

[93 rows x 4 columns]

In [22]:
# importing HDF5 files, to install in anaconda terminal type pip install h5py
import h5py

file_name = 'data.hdf5'

data = h5py.File(filename, 'r') # 'r' is to read

print(type(data))

# The structure of HDF5 files
for key in data.kays():
    print(key)

NameError: name 'filename' is not defined

In [ ]:
# importing a .mat file

import scipy.io
filename = 'workspace.mat'
mat = scipy.io.loadmat(filename)
print(type(mat))
print(type(mat['x']))